.navbar {
    height: 70px;
    background-color: #ff7426;
    display: flex;
    justify-content: space-between;
  }
  
  .navleft ul {
    display: flex;
  }
  
  .navright ul {
    display: flex;
  }
  
  .navbar ul li {
    display: block;
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    font-family: DM Serif Text;
  }
  
.logo {
    height: 70px;
}