:root { 
--amber_800:#ff900e; 
--gray_700:#585858; 
--blue_gray_100:#d2d2d2; 
--blue_gray_400:#868686; 
--blue_A400:#337fff; 
--light_blue_A200:#33ccff; 
--gray_900:#1c1c1c; 
--black_900_3f:#0000003f; 
--gray_200:#e8e8e8; 
--light_blue_900:#006699; 
--orange_100:#fed6a7; 
--gray_100:#f7f7f7; 
--black_900:#000000; 
--blue_gray_900_1e:#2f2f2f1e; 
--gray_100_01:#f2f2f2; 
--yellow_900:#ff7426; 
--deep_orange_300:#ff825e; 
--blue_gray_900:#2f2b2b; 
--white_A700:#ffffff; 
}