.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .overlap-wrapper {
    background-color: #ffffff;
    height: 2050px;
    width: 1440px;
  }
  
  .index .overlap {
    height: 2050px;
    position: relative;
  }
  
  .index .group {
    height: 847px;
    left: 664px;
    position: absolute;
    top: 69px;
    width: 776px;
  }
  
  .index .img {
    height: 847px;
    left: 0;
    position: absolute;
    top: 813px;
    width: 771px;
  }
  
  .index .group-2 {
    height: 301px;
    left: 1077px;
    position: absolute;
    top: 439px;
    width: 285px;
  }
  
  .index .group-3 {
    height: 198px;
    left: 845px;
    position: absolute;
    top: 581px;
    width: 187px;
  }
  
  .index .group-4 {
    height: 249px;
    left: 874px;
    position: absolute;
    top: 216px;
    width: 236px;
  }
  
  .index .group-5 {
    height: 207px;
    left: 1149px;
    position: absolute;
    top: 187px;
    width: 196px;
  }
  
  .index .group-6 {
    height: 112px;
    left: 944px;
    position: absolute;
    top: 462px;
    width: 106px;
  }
  
  .index .group-7 {
    height: 112px;
    left: 763px;
    position: absolute;
    top: 403px;
    width: 106px;
  }
  
  .index .scholarcap-scroll {
    height: 267px;
    left: 1087px;
    object-fit: cover;
    position: absolute;
    top: 437px;
    width: 267px;
  }
  
  .index .apple {
    height: 158px;
    left: 860px;
    object-fit: cover;
    position: absolute;
    top: 584px;
    width: 159px;
  }
  
  .index .backpack {
    height: 218px;
    left: 889px;
    object-fit: cover;
    position: absolute;
    top: 219px;
    width: 217px;
  }
  
  .index .palette {
    height: 78px;
    left: 780px;
    object-fit: cover;
    position: absolute;
    top: 404px;
    width: 77px;
  }
  
  .index .book {
    height: 76px;
    left: 961px;
    object-fit: cover;
    position: absolute;
    top: 466px;
    width: 76px;
  }
  
  .index .chalkboard {
    height: 178px;
    left: 1161px;
    object-fit: cover;
    position: absolute;
    top: 185px;
    width: 179px;
  }
  
  .index .frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 56.77px;
    left: 105px;
    position: absolute;
    top: 301px;
  }
  
  .index .div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 42.58px;
    position: relative;
  }
  
  .index .frame-2 {
    align-items: flex-start;
    box-shadow: inset 0px 4px 4px #00000040;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 28.38px;
    position: relative;
  }
  
  .index .digital-learning {
    color: #ff7426;
    font-family: "Montserrat", Helvetica;
    font-size: 19.9px;
    font-weight: 700;
    letter-spacing: 2.78px;
    line-height: 19.9px;
    margin-top: -1.42px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .learning-and {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 73.2px;
    font-weight: 400;
    letter-spacing: -2.93px;
    line-height: 73.2px;
    margin-top: -1.42px;
    position: relative;
    width: 637.95px;
  }
  
  .index .gain-subject {
    color: #585858;
    font-family: "Montserrat", Helvetica;
    font-size: 22.7px;
    font-weight: 600;
    letter-spacing: -0.91px;
    line-height: 31.8px;
    position: relative;
    width: 461.91px;
  }
  
  .index .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 29.8px;
    position: relative;
  }
  
  .index .text-wrapper {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 19.9px;
    font-weight: 700;
    letter-spacing: -0.79px;
    line-height: 19.9px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .div-wrapper {
    align-items: center;
    background-color: #fed6a7;
    border-radius: 17.03px;
    box-shadow: 0px 4px 4px #00000040;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 14.19px;
    height: 51.09px;
    justify-content: center;
    padding: 5.68px 25.55px;
    position: relative;
  }
  
  .index .text-wrapper-2 {
    color: #ff7426;
    font-family: "Montserrat", Helvetica;
    font-size: 19.9px;
    font-weight: 700;
    letter-spacing: -0.79px;
    line-height: 19.9px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .image {
    height: 257px;
    left: 36px;
    object-fit: cover;
    position: absolute;
    top: 95px;
    width: 273px;
  }
  
  .index .footer {
    height: 420px;
    left: 0;
    position: absolute;
    top: 1630px;
    width: 1440px;
  }
  
  .index .navigation-bar {
    background-color: #ff7426;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .group-8 {
    height: 70px;
    left: 1253px;
    position: absolute;
    top: 0;
    width: 172px;
  }
  
  .index .text-wrapper-3 {
    color: var(--variable-collection-f-itemfont);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-style: var(--title-font-style);
    font-weight: var(--title-font-weight);
    height: 70px;
    left: 18px;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    width: 152px;
  }
  
  .index .group-9 {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 237px;
  }
  
  .index .text-wrapper-4 {
    color: var(--variable-collection-f-itemfont);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-style: var(--title-font-style);
    font-weight: var(--title-font-weight);
    height: 22px;
    left: 0;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
    width: 235px;
  }
  
  .index .overlap-group-wrapper {
    height: 424px;
    left: 104px;
    position: absolute;
    top: 853px;
    width: 1283px;
  }
  
  .index .overlap-group {
    background-color: #ffffff;
    border-radius: 41px;
    box-shadow: 0px 5px 24px #2f2f2f1f, 0px 13px 19px #ffd9d924, 0px 7px 8px #fff2f233;
    height: 424px;
    position: relative;
    width: 1269px;
  }
  
  .index .unlimited-access {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 141px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 267px;
  }
  
  .index .choose-what-you-d-li {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 69px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 319px;
    width: 330px;
  }
  
  .index .expert-teachers {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 513px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 267px;
  }
  
  .index .expert-teachers-2 {
    color: #ff825e;
    font-family: "Poppins", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 445px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
  }
  
  .index .learn-from-industry {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 469px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 319px;
    width: 330px;
  }
  
  .index .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 912px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 267px;
  }
  
  .index .switch-between-your {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 870px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 319px;
    width: 330px;
  }
  
  .index .expert-teacher {
    height: 88px;
    left: 589px;
    position: absolute;
    top: 155px;
    width: 90px;
  }
  
  .index .anywhere {
    height: 80px;
    left: 995px;
    position: absolute;
    top: 163px;
    width: 80px;
  }
  
  .index .unlimited-access-2 {
    height: 86px;
    left: 187px;
    position: absolute;
    top: 155px;
    width: 95px;
  }
  