.tutor-dashboard {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.index {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.overview {
  min-width: 1120px;
}

.index .statistic-area {
  align-items: center;
  background-color: #fec583;
  /* flex-direction: column; */
  display: flex;
  height: 300px;
  width: 50%;
  margin-top: 50px;
  min-width: 1120px;
  padding: 10px 35px;
  border-radius: 5px;
  justify-content: space-between;
}

.chart {
  height: 250px;
  border-radius: 14px;
}

.index .enrolled-courses-area {
  align-items: left;
  flex-direction: column;
  display: flex;
  height: 542px;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 10px 0px;
  position: relative;
  padding-top: 10px;
  width: 1120px;
  background-color: #fff;
  border-radius: 20px;
}

.index .courses-area {
  align-items: left;
  background-color: #f8f8f8;
  flex-direction: column;
  display: flex;
  height: 239px;
  width: 50%;
  min-width: 1120px;
}

.index .title-courses {
  margin-left: 35px;
  margin-bottom: 10px;
}

.index .title {
  height: 60px;
  background-color: #fdf6ee;
  min-width: 1120px;
  padding: 10px 35px;
  font-family: DM Serif Text;
  font-size: 20px;
  font-weight: bold;
  color: #666262;
}

.index .courses {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 80px;
  height: 100%;
}

.courses li {
  color: #ff7426;
  font-family: DM Serif Text;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  list-style: square;
}
