* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
}

/* CourseClass */
.CourseClassContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.CourseClass {
  margin: 14px;
  margin-bottom: 55px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 405.451px;
  height: 378.145px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 4px 25px 3px rgba(0, 0, 0, 0.1);
}

.CourseClass-Image {
  max-width: 100%;
}

.CourseClass-FirstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.CourseClass-Subject {
  width: 253px;
  height: 34px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  font-weight: 550;
}

.CourseClass-Stars {
  width: 100px;
  margin-top: -6px;
}

.CourseClass-Teacher {
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: #acacac;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dotted-line {
  border: 1px dotted #acacac;
  width: 358.001px;
}

.CourseClass-Components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #acacac;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CourseClass-Components-Clock {
  display: flex;
}

.CourseClass-Button {
  position: absolute;
  width: 207px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 96px;
  background: #ff7426;
  margin-left: 80px;
  margin-top: 25px;
  color: white;
  border-color: #ff7426;
}

.CourseClass-Button:hover {
  background: white;
  color: #ff7426;
  border-color: #ff7426;
}

.CourseClass-Button:active {
  background: #ff7426;
  color: white;
  border-color: #ff7426;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
.book img {
  width: 100%;
  object-fit: cover;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}

/* search css start here */
.middle-section {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.input-box {
  position: relative;
  height: 65px;
  width: 1000px;
  background: #fff;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 205px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
/* @media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
} */


/* filter */

.Filter-Component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
.FilterComponent-box {
  display: flex;
  align-items: center;
  height: 37px;
  flex-shrink: 0;
  border-radius: 62px;
  background: white;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 10px;
}
.FilterComponent-SVG {
  width: 20px;
  margin-right: 7px;
}
.Filter-Triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #545454;
  margin-left: 11px;
  margin-top: 3px;
}
